{% load static %}
<!-- Footer -->
<footer>
  <!-- Footer Sitemap -->
  <div class="site-foot-sitemap pt-4">
    <div class="container">
      <div class="row py-5">

        <div class="col-6 col-md-2 mb-5 mb-lg-0">
          <div class="site-foot-nav">
            <a href="{% url 'index' %}" class="text-uppercase text-white mb-3">Home</a>
            <a href="{% url 'about_us' %}" class="text-uppercase text-white mb-3">About</a>
            <a href="{% url 'for_sale' %}" class="text-uppercase text-white mb-3">For Sale</a>
            <a href="{% url 'contact_us' %}" class="text-uppercase text-white mb-3">Contact Us</a>
          </div>
        </div>

        <div class="col-6 col-md-2 mb-5 mb-lg-0">
          <div class="site-foot-nav">
            <a href="{% url 'stallions' %}" class="text-uppercase text-white mb-3">Stallions</a>
            <a href="{% url 'mares' %}" class="text-uppercase text-white mb-3">Our Mares</a>
            <a href="{% url 'progeny' %}" class="text-uppercase text-white mb-3">Progeny</a>
          </div>
        </div>

        <div class="col-12 col-md-3"></div>

        <div class="col-12 col-md-2 text-white">
          <address>Ballyneety Stud Farm<br>Castleview Carrigoreilly<br>Caherconlish<br>Co. Limerick<br>Ireland</address>
        </div>

        <div class="col-12 col-md-3">
          <p class="mb-1 font-charter text-info">Fiona Hickey</p>
          <p class="mb-1 font-charter ]"><span class="text-info">Phone:</span> <span class="text-decoration-underline text-white">+353 871376848</span></p>
          <p class="mb-1 font-charter ]"><span class="text-info">Email:</span> <span class="text-decoration-underline text-white">hickeyhorses@gmail.com</span></p>
          <div class="row mt-3 px-4">
            <div class="col-2 col-md-4 col-lg-3">
              <a href="https://instagram.com/traditionalirishhorse?igshid=j49y62z22p1h"><img src="{% static 'images/instagram-logo.png' %}" class="mx-auto d-block" style="width: 90%" alt="instagram">
              </a>
            </div>
            <div class="col-2 col-md-4 col-lg-3">
              <a href="https://www.facebook.com/BallyneetyStudFarm/"><img src="{% static 'images/facebook-icon.png' %}" class="mx-auto d-block" style="width: 90%" alt="instagram">
              </a>
            </div>
            <div class="col-2 col-md-4 col-lg-3">
              <a href="https://twitter.com/BallyneetyF"><img src="{% static 'images/twitter-logo.png' %}" class="mx-auto d-block" style="width: 90%" alt="instagram">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Sitemap END-->
  <!-- Copyright Sub-Footer -->
  <div class="site-foot-copyright py-4">
    <div class="container">
      <div class="row">
        <!-- Links -->
        <!-- <div class="privacy-links col-12 col-md-6 mb-3 mb-lg-0">
          <a href="/privacy-policy" class="privacy-policy me-3">Privacy policy</a>
          <a href="/terms-and-conditions" class="terms-and-conditions me-3">Terms &amp; Conditions</a>
          <a href="/cookie-policy" class="cookie-policy">Cookie policy</a>
        </div> -->
        <!-- Links END-->
        <div class="copyright col-12 col-md-6">
          Copyright © 2022 Hosesales.ie. All rights reserved
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright Sub-Footer END-->
</footer>
<!-- Footer END-->
