{% extends "base.html" %}
{% load static %}

{% block body %}

<main>
  <!-- Header Image -->
  <div id="header-img" class="container-fluid d-flex align-items-start flex-column" style="background-image: url({% static 'images/about_us_cover_2.jpg' %})">
    <div class="site-head container-lg">
      <div class="row">
        <div class="col">
          <a href="index.html">
            <img id="site-logo" style="width: 130px;" src="{% static 'images/ballneety_logo_white.png' %}" alt="logo">
          </a>
        </div>
      </div>
    </div>
    <div class="header-content mt-auto container-lg">
      <div class="row">
        <div class="col-11 col-md-9 col-lg-7">
          <h1 class="text-uppercase">About Us</h1>
          <h2 class="text-uppercase">A Legacy for Quality Breeding</h2>
          <!-- <p>Located in Co. Limerick, Rathmore Stud is renowned for its handling of quality Flat and National Hunt bloodstock</p> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header Image END -->

  <!-- Section 1 offset container left -->
  <div id="{{ post.htmlid }}" class="container-offset py-5 px-1 px-md-5 px-xl-0 me-xl-auto my-5">
    <div class="container-offset-inner ms-auto me-5">
      <div class="row">
        <div class="mx-auto col-11">
          <h3 class="text-title text-center text-uppercase mb-5">
            {% if not error %}
            {{ post.title }}
            {% endif %}
          </h3>
          <div class="text-para fs-5 mb-5">
            {% if error %}
            {{ error }}
            {% else %}
            {{ post.description | safe}}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section 1 offset container left END -->
</main>
{% endblock %}
