{% extends "base.html" %}
{% load static %}

{% block body %}

<main>
  <!-- Header Image -->
  <div id="header-img" class="container-fluid d-flex align-items-start flex-column" style="background-image: url({% static 'images/about_us_cover_2.jpg' %})">
    <div class="site-head container-lg">
      <div class="row">
        <div class="col">
          <a href="index.html">
            <img id="site-logo" style="width: 130px;" src="{% static 'images/ballneety_logo_white.png' %}" alt="logo">
          </a>
        </div>
      </div>
    </div>
    <div class="header-content mt-auto container-lg">
      <div class="row">
        <div class="col-11 col-md-9 col-lg-7">
          <h1 class="text-uppercase">About Us</h1>
          <h2 class="text-uppercase">A Legacy for Quality Breeding</h2>
          <!-- <p>Located in Co. Limerick, Rathmore Stud is renowned for its handling of quality Flat and National Hunt bloodstock</p> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header Image END -->
  <!-- Section 1 offset container left -->
  <div id="butlers_cravat" class="container-offset py-5 px-1 px-md-5 px-xl-0 me-xl-auto my-5">
    <div class="container-offset-inner ms-auto me-5">
      <div class="row">
        <div class="mx-auto col-11">
          <h3 class="text-title text-center text-uppercase mb-5">About Us</h3>
          <p class="text-para fs-5 mb-5">Nestled in rural Co. Limerick, in the middle of horse country, a stones throw away from the world renowned Scarteen Hunt, and just up the road from the birthplace of Steeplechasing itself, is a Lady
            determined to uphold one of Irelands greatest natural resources, traditional Irish Sporthorse bloodlines. Fiona Hickey is carrying on the family tradition entrusted to her by her father Denis, who was a prolific breeder in his day with
            numerous Dublin Horse Show winners. <br><br>

            A “Hickey horse”, as they are still known, is known for being a good looking, brave & athletic horse. <br><br>

            Fiona sticks rigidly to time honoured methods of producing horses. They are all foaled out as nature intended, under her supervision and run-in herds on the farm until they are 3 years of age. “There is something lovely about just
            watching them in the field...just being horses !”. <br><br>

            <strong>Past to present</strong><br><br>

            Back in the olden days, manys the local farmer had only one horse and they would borrow a Hickey horse to plough their fields or mow their meadows. Horses from Ballyneety have gone on to careers as Field Hunters, Show Hunters, as
            Eventers, Showjumpers, Equitation horses & more. Several have gone on to stellar careers in the upper echelons of sport, having had their names changed. Deeply appreciative of the growing recognition that Ballyneety horses are
            receiving, everyone at Ballyneety Stud Farm can be very proud and also excited about the next generation of quality youngsters coming on in the fields. <br><br>

            Fiona has a wonderful sense of humour and tells a great story of a lady she met at a show. This lady introduced herself and proclaimed that she had a Ballyneety horse. Fiona said to her, “sure a bird never flew on one wing!”. That same
            lady has since purchased 5 Ballyneety horses at Ballyneety. Such is the quality available in terms of the wonderful warm welcome, the horses and the services rendered that people keep returning to Fiona and all at Ballyneety Stud farm.
            <br><br>
            <strong>References : </strong> “One of the great family run enterprises, great horses great people to deal with, what more do I want – Gordon Bryan
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Section 1 offset container left END -->
</main>
{% endblock %}
